<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}            
</head>

<body>

    {% include 'header.html' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'sidebar.html' %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="text-align: center;">
                    <div style="text-align: center;">
                        <div><img src="{{ url_for('static', filename='/images/gromit.png') }}" height="200" width="200"></div>
                        <tr><h1>geek yogurt</h1></tr>
                        <div><h3>tsyi0313@gmail.com</h3></div> 
                        <div><h3><A href = "https://github.com/tes-b" target = "link" >github</A></h3></div>
                        <div><h3><A href = "https://tes-b.github.io/" target = "link" >blog</A></h3></dvi>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script> -->
    <!-- <script src="../static/js/dashboard.js"></script> -->
</body>

</html>